In [1]:
# imports
from seaborn import load_dataset
import pandas as pd
import numpy as np

In [2]:
data = load_dataset("mpg")

In [3]:
print(data.info())
print(data.describe().T)
print(data.head(n=10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None
              count         mean         std  ...     50%       75%     max
mpg           398.0    23.514573    7.815984  ...    23.0    29.000    46.6
cylinders     398.0     5.454774    1.701004  ...     4.0     8.000     8.0
displacement  398.0   193.425879  104.269838  ...   148.5   262.000   455.0
horsepower    392.0   104.469388   38.491160  ...    93.5   126.000   230.0
weight        398.0  2970.424623  846.841774  ...  2803.5  3608.000  5140.0
acceleration  398.0    15.568090    2.757689  ...    15.5    17.175    24.8
model_year    398.0    76.010050    3.697627  ...    76.0    79.000    82.0

[7 rows x 8 columns]
    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino
5  15.0          8         429.0  ...          70     usa           ford galaxie 500
6  14.0          8         454.0  ...          70     usa           chevrolet impala
7  14.0          8         440.0  ...          70     usa          plymouth fury iii
8  14.0          8         455.0  ...          70     usa           pontiac catalina
9  15.0          8         390.0  ...          70     usa         amc ambassador dpl

[10 rows x 9 columns]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
372  27.0          4  ...     usa            pontiac phoenix
373  24.0          4  ...     usa       ford fairmont futura
374  23.0          4  ...     usa             amc concord dl
375  36.0          4  ...  europe        volkswagen rabbit l
376  37.0          4  ...   japan         mazda glc custom l

[130 rows x 9 columns]